[2017-10-23 08:11] jduggan83 opened #7 "Filter not working for /entity/1"
- A user can access an entity from a different tenant by changing the entity id in the url
- e.g. /#/foo/2 where foo of id 2 is not associated with the users tenant.
- Doing this should return a 404
- The filter is being applied but not filtering the result

[2017-10-23 08:12] jduggan83 opened #8 "User can create an entity for another tenant"
- A user can create a tenantised entity and assign it to another tenant
- E.g. the user can select a company that is not there own from a list of companies.
- The entity is save but does then not show in the entity list as is filtered out for the current user
- This may be a note in documentation that the developer needs to lock this down.
- Other option is to set this automatically using the tena

[2017-10-23 09:19] jduggan83 opened #10 "Server side validation to ensure entity's tenant matches the user's tenant on create/update of the entity"
We need to write a validator on create/edit of a tenantised entity, that checks that the entities tenant matches the logged in users tenant.

[2017-10-23 11:18] #8 closed

[2017-10-23 12:58] jduggan83 opened #12 "Support for discriminator-based multi-tenancy"
Add support for discriminator columns when this hibernate issue is resolved
https://hibernate.atlassian.net/browse/HHH-6054

[2017-10-23 15:47] jduggan83 opened #13 "Add support for multiple languages"
Currently we only supply the en translations for the tenant-management screen. We'll need to provide translation files for every other language. We can take a copy of the files from the jhipster generator, but ultimately we'll have to manually check the translations.

[2017-10-23 15:48] jduggan83 opened #14 "Add support for Angular1"
Currently the module only supports apps generated for Angular4. We need to be able to add support for Angular1 apps as well.

[2017-10-23 15:50] jduggan83 opened #15 "Tenant logo and styling"
Add support for add a tennant logo and some basic UI styling per tenant

[2017-11-09 09:39] maznag opened #17 "Don't generate the User Entity (jpa entity domain, reposity and service) when the OIDC option is selected."
The User jpa entity domain is not used  in a JHipster application with OpenId Connect.  It is not necessary to add the default multitenancy filters to the user class.

[2017-11-09 09:58] jduggan83 commented on #17
Hi @maznag,

Yes this is a good point. We can include this logic, or if you want put this in and create a PR we can include it in the next release.

Jonathan

[2017-11-09 10:26] maznag commented on #17
Hi @jduggan83

OK. I will see if I have free time, I will propose a PR to fix this issue.

I have a question, does this module works in Microservices application knowing that there is no concept of relationship between different database.

Mus

[2017-11-09 12:25] alessiaio opened #19 "Add compatibility for jhipster 4.10.2"
When applying the multitenancy module to a project generated with jhipster 4.10.2 the build fails

[2017-11-10 12:00] #19 closed

[2017-11-27 15:07] bgagan911 opened #20 "Compile Error"
This is what I did:
 - I created a jhipster App
 - I ran the App and it worked perfect
 - I ran the generator-jhipster-multitenancy to make the app tenant aware (No Entities were created)
 - I try to run the app
       -  mvn clean
       - mvn

It throws the error below. Am I doing something wrong?
[code]

[2017-11-27 17:16] jduggan83 commented on #20
Hi @bgagan911

Can you send on the .yo-rc.json file from your jhipster project? If I get a look at that, I should be be to figure out the issue.

Thanks,
Jonathan

[2017-11-29 12:26] #20 closed

[2017-12-01 09:23] jduggan83 commented on #20
Hi @bgagan911

Sorry for the delay. I have closed this issue now, as we have added support for jhipster 4.11.1 which resolves your issue.

Thanks

[2017-12-01 13:42] jduggan83 opened #25 "Remove custom userService Template"
On installing, the module overwrites the userService. The reason for this is to set the tenant on create/update user. We need to figure out a way of removing this custom class, and set the tenant elsewhere.

[2017-12-01 13:45] jduggan83 opened #26 "A user can create an entity instance for any tenant, through the API"
The tenant for a any entity is set on the client side. This needs to be ignore, and we need to use aop to dynamically set the tenant for any entity on the server side.

[2017-12-31 17:29] Joaggi opened #27 "Problem with hibernate cache when generate the jhipster application"
Hello,

I use the jhipster-generator v4.13.1 in order to generate the main jhipster application. After that I use the command `npm install generator-jhipster-multitenancy` in order to install the multitenancy generator.

The problems occourse when I try to do `yo jhipster-multitenancy`, a prompt is given with `What is the alias given tenants in your application? (Company) ` after I press enter in

[2018-01-10 19:19] kalyandas75 commented on #27
I got the same error

[2018-01-12 18:14] Joaggi commented on #27
https://stackoverflow.com/questions/48044668/hibernate-cache-error-when-generate-the-jhipster-multitenancy-application-with-j

In StackOverflow Pascal Grimaud answer that the problem is the following

[2018-01-14 09:26] ciarant commented on #27
Thanks for reporting the issue. We'll get on it this week.

[2018-01-17 13:40] berkaybayraktar commented on #7
Hi, I found that `@Filter` annotation is not applied on functions of **org.springframework.data.repository.CrudRepository**. So, I implemented following code that overrides ``findOne`` function and retrieves data with ``findOneById`` function which is tecniquelly equivalent of ``findOne`` function. Maybe the generator can add this function to repository classes.

Firsty, I created a repository int

[2018-01-17 13:41] berkaybayraktar commented on #7
Hi, I found that

[2018-01-17 13:48] berkaybayraktar commented on #7
Hi, I found that ``@Filter`` tag is not applied on **org.springframework.data.repository.CrudRepository** functions. To fix this issue, I created a repository called **TenantFilterRepository** and override ``CrudRepository.findOne`` function on it.

Code of **TenantFilterRepository.java**
[code]
Then, I extend all repositories created by jHipster with TenantFilterRepository.

Code of **FooReposito

[2018-01-18 08:38] jduggan83 commented on #7
Hi @berkaybayraktar,

Thanks for this. I will have a look at how the code above can be templated and brought into the generator. The issue with this may be enforcing that all repositories extend TenantFilterRepository<T> when running the module on an application, but I will look into it.
For now, it is a pretty good workaround for once the module is run on an your jhipster app.

[2018-01-22 16:31] jduggan83 commented on #27
Hi @Joaggi
New version of the module v0.9.6 just published to npm. Closing this issue as this is now fixed.

[2018-02-16 17:22] shwabnitz opened #30 "Support of HttpClientModule"
With JHipster 4.14.0 the old Angular HttpModule (@angular/html) is replaced by the new HttpClientModule (@angular/common/html). The generated entity components look now differently.

The latest version of the multitenancy modul (0.9.6) generates its components still with the old HttpModule.

[2018-02-22 17:15] jduggan83 commented on #30
Hi @shwabnitz
Thanks for creating this. Hope to get a fix for this in the next week.

[2018-04-28 13:44] qp06 opened #31 "ERROR! Can't read .yo-rc.json"
I would like to use this generator. I installed everything as per the instructions on my mac (yo and the generators are installed globally). "yo jhipster" works fine, I created a new folder and when I try "yo jhipster-multitenancy" it is giving me the following error.

Error jhipster-multitenancy

ERROR! Can't read .yo-rc.json

I tried to generate the project on my Windows computer and got the sam

[2018-05-01 15:54] ciarant commented on #31
Hi, I'm unable to reproduce the issue. Can you share the steps you followed (exactly as you typed them on the command line)?

[2018-05-02 01:11] qp06 commented on #31
I did a mistake, I thought this will generate the new project didn't realize that I have to generate the project first using jhipster and then run this generator. Closing the issue.

[2018-05-02 01:11] #31 closed

[2018-05-02 06:42] ciarant commented on #31
That's great - thanks for closing the issue.

[2018-05-11 15:18] esulcz commented on #27
I've the same issue with JHipster Multitenancy Generator v0.9.6 and JHipster v4.14.0.
What could be the problem?

[2018-05-11 19:17] ciarant commented on #27
Thanks @esulcz - we'll investigate.

[2018-05-14 10:03] esulcz commented on #27
Additional information: It's working with brand new generated project, jhipster  version 4.14.4. But with existing project ( jhipster v4.14.0) i've got the following error:
Welcome to the JHipster Multitenancy Generator v0.9.6

? What is the alias given tenants in your application? Company
events.js:183
      throw er; // Unhandled 'error' event
      ^

ReferenceError: C:\Users\esulcz\AppData\Roa

[2018-05-15 16:05] jduggan83 commented on #27
@esulcz Thanks for the info on this. Im looking into this now. Our previous fix for this had intended to fix this issue from 4.13.1 and above. I will do some testing across versions and try and provide a fix soon.

[2018-07-02 10:17] joaomapi opened #34 "Error during first run: "enableSocialSignIn is not defined""
I've installed Jhipster from scratch (v5.0.1) generated an app with all values set to default.
Installed this generator (v0.9.6) and try to ran it with all defaults as well.
It fails with the following error:
`Welcome to the JHipster Multitenancy Generator v0.9.6

? What is the alias given tenants in your application? Company
events.js:167
      throw er; // Unhandled 'error' event
      ^

Refere

[2018-07-02 10:29] joaomapi commented on #34
After adding the key in the .yo-rc.json file the error changes to:

The file extension 'ejs' is the issue. The html file is there the ejs is not

[2018-07-12 09:14] ivan86to commented on #34
News? I have the same problem.

[2018-07-12 09:23] joaomapi commented on #34
Not that I know of. Maybe I'm doing something wrong, regardless this generator doesn't work for me.

[2018-07-12 09:24] ciarant commented on #34
Hmm. Let me have a look.

[2018-07-12 09:29] ivan86to commented on #34
I have found enableSocialSignIn not defined in _User.java , _UserDTO.java and _UserService.java
i set enableSocialSignIn = false for now

[2018-07-12 09:38] ciarant commented on #34
Thanks. The problem is that the mechanism we use to identify exactly where to add multitenancy code to the JHipster generated classes is quite brittle. Every new JHipster release usually results in the multitenancy plugin breaking. Need to find a better way - all ideas welcome. In the meantime we'll get working on a fix.

[2018-07-17 13:52] tcbuzor commented on #34
Any progress towards a fix for this issue? I have the same problem with JHipster 5.1.0.

[2018-07-17 16:49] jduggan83 commented on #34
We are currently working on a fix for the latest version, hope to have an update published in a few days.

[2018-07-17 22:36] tcbuzor commented on #34
Thanks for the update. Can you describe the approach adopted for implementing multi-tenancy in JHipster ? multiple database or multiple schema or Discriminator Strategy. I don't have a sample code but looking at the generator code it appears its the Discriminator Strategy. If so, will multiple schemas work?

[2018-08-02 10:09] jduggan83 commented on #14
No longer supported by JHipster. closing issue

[2018-08-02 10:09] #14 closed

[2018-08-08 09:40] #10 closed

[2018-08-08 09:40] #25 closed

[2018-08-08 09:40] #26 closed

[2018-08-08 09:40] #30 closed

[2018-08-08 09:40] #34 closed

[2018-08-08 10:12] alexander-ozkan commented on #34
@tcbuzor We have just released v1.0.0 of our module. This issue has been fixed for the latest version of JHipster -v5.1.0.

[2018-08-08 10:12] alexander-ozkan commented on #30
@shwabnitz We have just released v1.0.0 of our module. This issue has been fixed for the latest version of JHipster -v5.1.0.

[2018-08-08 10:13] alexander-ozkan commented on #25
We have just released v1.0.0 of our module. This issue has been fixed for the latest version of JHipster -v5.1.0.

[2018-08-08 10:13] alexander-ozkan commented on #10
We have just released v1.0.0 of our module. This issue has been fixed for the latest version of JHipster -v5.1.0.

[2018-08-08 10:15] alexander-ozkan commented on #27
We have just released v1.0.0 of our module. This issue has been fixed for the latest version of JHipster -v5.1.0.

[2018-08-08 10:15] #27 closed

[2018-08-08 10:15] alexander-ozkan commented on #26
We have just released v1.0.0 of our module. This issue has been fixed for the latest version of JHipster -v5.1.0.

[2018-08-08 23:26] tcbuzor commented on #34
Hi, I have the same issue after running:
yarn global upgrade generator-jhipster-multitenancy && yo jhipster-multitenancy

Error:
Welcome to the JHipster Multitenancy Generator v0.9.6

? What is the alias given tenants in your application? Tenant
events.js:183
      throw er; // Unhandled 'error' event
      ^

ReferenceError: /usr/local/lib/node_modules/generator-jhipster-multitenancy/generators/a

[2018-08-09 01:05] tcbuzor opened #36 "Error during jhipster-multitenancy execution"
Hi,
I updated generator-jhipster-multitenancy and ran  yo jhipster-multitenancy on a new jhipster generated project and still got the exception below:
cmd: yarn global upgrade generator-jhipster-multitenancy && yo jhipster-multitenancy
jhipster version: 5.1.0

Error:
Welcome to the JHipster Multitenancy Generator v0.9.6

? What is the alias given tenants in your application? Tenant
events.js:183
t

[2018-08-09 08:16] alexander-ozkan commented on #36
Hi @tcbuzor, it would appear that the multitenancy generator being run hasn't been updated (outputting v0.9.6 instead of v1.0.0).

Give this a try and let me know how it goes: `npm i generator-jhipster-multitenancy`

[2018-08-13 05:17] tcbuzor commented on #36
It worked after trying with npm i generator-jhipster-multitenancy
Thanks

[2018-08-13 05:17] #36 closed

[2018-08-15 13:32] alexander-ozkan commented on #17
@maznag Can this issue be closed as this module does not support the microservices structure.

[2018-08-15 15:50] maznag commented on #17
@alexander-ozkan Yes of course.

[2018-08-15 15:50] #17 closed

[2018-08-16 07:38] alexander-ozkan commented on #7
@berkaybayraktar This issue has been resolved in the latest version.
Thanks.

[2018-08-16 07:38] #7 closed

[2018-08-17 10:30] jeremyprioux opened #40 "React support"
When running the module on a freshly created jhipster app (5.2) with **React** frontend, I have the following :

`ERROR! This module currently only supports Angular 4+`

[2018-08-20 16:03] jduggan83 commented on #40
Hi @jeremyprioux

Thanks for the message. Adding support for React is something we hope to deliver in the near future. We are currently looking at what is involved in this piece of development.

[2018-08-20 16:05] jeremyprioux commented on #40
Hi, thanks for the response.
It is something I need for my app so I will have a look too. I'm new to jHipster so I can't commit mysel on being able to contribute to the generator in the next weeks/months :).

[2018-08-30 16:07] somejavadev opened #41 "Your generated project used a JHipster version (5.0.0) that is currently not supported.)"
Hi,
I see with release v1.0.1 The merge request was `Feature/compatibility 5.2`. I am getting the following error when I run  ``yo jhipster-multitenancy``:

Is jhipster v5.0.0 supported? I installed the genereator with `npm install -g generator-jhipster-multitenancy`

[2018-10-03 13:36] amirensit opened #42 "support for multy tenancy in microservice architecture"
Hi.

Any idea if this generator work with microservice architecture ?

[2018-10-03 14:44] jduggan83 commented on #40
Hi @amirensit This module supports Angular 6. Can you please share the .yo-rc.json file of your JHipster application so I can debug.

[2018-10-03 14:59] amirensit commented on #40
@jduggan83 thanks for your reply.
In fact, I am using a micro service architecture using jhipster. It has been a month since I started a Saas solution using multi tenancy.
I used this generator in a Jhipster UAA project. I don't know If It really works.
Any way here is  my **.yo-rc.json** file:
[code]

[2018-10-03 15:09] jduggan83 commented on #40
Ah I see. Yes this module currently doesn't have support for a microservices architecture. You mentioned you are using Angular6 but presumably so that is not part of your JHipster generated app? The multitenancy module is looking for the property "clientFramework" from your yo-rc.json and checking for the value "angularX". The "clientFramework" property is not present in a microservice app configu

[2018-10-03 15:14] amirensit commented on #40
ok thanks. So, do you have any idea how to implement multi tenancy  in a jhipster microservice architecture using spring security oauth ?

[2018-10-03 15:18] jduggan83 commented on #40
We are hoping to add this support in the future. For now, I would suggest creating a sample monolithic application and then run the multitenancy module on it. Have a look at additional code it provides and see how you can apply this to your existing microservices app.

[2018-10-03 15:29] amirensit commented on #40
@jduggan83 ok thanks :)

[2018-10-04 10:02] #42 closed

[2018-10-15 15:16] jduggan83 commented on #41
Hi @somejavadev
Sorry for the delay. Yes currently we support  5.1.0, 5.2.0, and 5.2.1. New release coming soon with support for the latest jhipster.

[2018-11-07 22:16] windbender opened #45 "Are there any goals/plans to produce a PR back to the hipster project itself ?"

[2018-11-08 07:09] ciarant commented on #45
We haven't raised the idea with the JHipster team. Do you see advantages to providing multitenancy support directly within JHipster as opposed to via a JHipster module?

[2018-11-08 07:29] ciarant commented on #45
Yeah - it's difficult for us to say up to date with latest JHipster developments. This is a side-project for us and sometimes work takes priority. We're always looking for contributors though ;-)

[2018-11-25 19:15] zsliu opened #46 "jhipster-multi tenancy ERROR! Can't read .yo-rc.json"
After I install generator-jhipster-multitenancy, and run yo jhipster-multitenancy, it gives error as below, please advise

⋊> ~/d/g/k/jhipster-tenant npm install -g generator-jhipster-multitenancy

+ generator-jhipster-multitenancy@1.0.1
updated 1 package in 11.027s
⋊> ~/d/g/k/jhipster-tenant
⋊> ~/d/g/k/jhipster-tenant
⋊> ~/d/g/k/jhipster-tenant yo jhipster-multitenancy
Error jhipster-multitenancy

[2018-11-25 21:10] #46 closed

[2018-11-25 21:11] zsliu commented on #46
I realize the command need to run under existing apps. But then run into another issue with jhipster version. When can this module support jhipster 5.7.0?

ERROR!
Your generated project used a JHipster version (5.7.0) that is currently not supported.)

[2018-11-26 15:35] jduggan83 commented on #46
Thanks @zsliu. We're struggling to make the time to keep our multitenancy module up to date with the pace of JHipster development. We are hoping to bring support for the latest version of JHipster very soon. If you are interested in contributing to development, please let me know.

[2018-11-28 15:41] jduggan83 opened #47 "Support for JHipster v5.7.0"

[2018-11-29 15:57] #41 closed

[2018-11-29 16:52] #47 closed

[2018-11-30 01:28] windbender opened #49 "exception while setting password after invite on non-logged in browser."
I'm taking 1.0.3 for a spin against 5.7.

I created a new "customer" (my tenant entity ). all good.

Then I created a new user via the hipster admin tool assigned to this customer.  This worked as well.

I didn't have email configured, so the email send failed.  However, I pulled the create a password email out of the log files ad used the embedded link to attempt to create a password.

A key thin

[2018-12-29 16:18] jiwan2004 opened #51 "can't support jhpister 5.7.2"
It dosen't work for latest jhipster

[2019-01-03 11:54] jduggan83 commented on #51
Hi @jiwan2004 We have just added support for 5.7.2 in our latest version, v1.0.5. Thanks

[2019-01-03 11:54] #51 closed

[2019-02-01 22:07] clakech opened #53 "Cannot init multitenancy v1.0.5 with jhipster v5.8.1"
With jhipster 5.8.1 I face this error with  jhipster-multitenancy 1.0.5

$yo jhipster-multitenancy

                               Multitenancy Module

Welcome to the JHipster Multitenancy Generator v1.0.5

? What is the alias given tenants in your application? Company
events.js:167
      throw er; // Unhandled 'error' event
      ^

TypeError: Cannot read property 'serverLiquibase' of undefined

[2019-02-13 07:45] hnitzsche commented on #53
It doesn't throw this error if you install jhipster-multitenancy in your project as dependency instead of globally.

[2019-02-13 08:31] clakech commented on #53
thanks for answer, let's try that

[2019-02-24 08:21] oosodrac commented on #53
i try but don´t work

[2019-02-24 16:16] jduggan83 commented on #53
Hi, thanks for reporting, we will get a fix out as soon as possible

On Sun 24 Feb 2019, 8:21 AM oosodrac, <notifications@github.com> wrote:

[2019-02-24 23:25] sch0lar commented on #53
I started to explore this generator and hit this same issue. Thanks for looking into it. Would love to try it out once fixed.

[2019-02-27 11:46] Gabber commented on #40
Hi guys, so if I'm understanding properly there is no way to run the plugin only on the backend and in case of a React frontend implements the changes needed manually

[2019-03-04 05:51] tikaa opened #54 "Create entity relationship with tenant"
JHipster v5.2.1
Java 8

Hello I want to create a relationship to a table with the tenant table.
 this is my jdl change to create the relationship,

`entity Package {
 userLimit String required, //string because it has to store unlimited as a parameter
 packageName String required
}

relationship ManyToOne {
 Tenant to Package{tenant}
}`

but this fails with error

Executing jhipster:import-jdl Asb

[2019-03-20 11:40] jduggan83 commented on #53
@clakech I cant recreate this issue. Can you please share your yo-rc.json file? Thanks

[2019-03-20 15:43] jduggan83 commented on #54
Hi @tikaa Apologies for the delay in getting back to you on this. To create a relationship to your tenant table you need use the name you have given to your tenant. The default value when running the module is company. Thanks

[2019-03-20 15:44] #54 closed

[2019-05-10 20:46] shwabnitz opened #56 "Your generated project used a JHipster version (6.0.0) that is currently not supported."
Hi,

I installed / updated Jhipster and got the error: "Your generated project used a JHipster version (6.0.0) that is currently not supported.".

When will it be supported?

Thank you!

[2019-07-15 18:07] vrecon commented on #56
Can we help to fix this?

[2019-07-18 19:56] mshima commented on #56
Since there is a new comment in this issue.

I tried to make this module work with jhipster 6.1.2. Got a half working update.
But I think there is too many problems with the current implementation:
 - Cannot recreate the project (update jhipster version)
 - Bugs on tenant aware entity creation.
 - Too complicated.

So I decided to convert it into a jhipster blueprint.
To not conflict with current

[2019-07-19 00:56] abrorabdukadirov opened #57 "problem installing yo jhipster-multitenancy"
npm version: 6.10.1

yo jhipster-multitenancy

events.js:167
      throw er; // Unhandled 'error' event
      ^

TypeError: Cannot read property 'endsWith' of undefined
    at child.getAngularAppName (C:\Users\User\AppData\Roaming\npm\node_modules\generator-jhipster-multitenancy\node_modules\generator-jhipster\generators\generator-base.js:1647:56)
    at child.readConfig (C:\Users\User\AppData\Roa

[2019-07-19 14:55] ciarant commented on #57
Hi there. By any chance are you running 'yo jhipster-multitenancy' in an empty directory?

[2019-07-19 14:59] ciarant commented on #56
Nice work! We'd had been looking at rewriting as a blueprint so this is great. If it's ok with you we'll review the code to understand it and then merge into the project. How does that sound?

[2019-07-20 05:21] mshima commented on #56
Feel free to do it, but I think is better to create another project (multitenancy2) than merging into multitenancy to avoid conflicts.

[2019-07-21 20:07] vrecon commented on #56
Hi ,

Look really good, but the latest commit broke the build. Is it hard to fix that?

Kind regards,

Barry Vredevoort

[2019-07-24 17:18] mshima commented on #56
I tried to fix github security alert.
Reverted the dependency update.

[2019-07-28 18:22] kvmarkovich commented on #57
I have the same issue.
[code]
I'm running it in an empty directory.

`bash-3.2$ ls
bash-3.2$ yo jhipster-multitenancy
events.js:180
      throw er; // Unhandled 'error' event
      ^

TypeError: Cannot read property 'endsWith' of undefined
    at child.getAngularAppName (/usr/local/lib/node_modules/generator-jhipster-multitenancy/node_modules/generator-jhipster/generators/generator-base.js:1647:56

[2019-07-28 18:27] ciarant commented on #57
You need to run it in the root directory of an existing JHipster project.

[2019-07-28 19:15] kvmarkovich commented on #57
The problem is solved. Thanks!

[code]

[2019-07-29 08:21] #57 closed

[2019-08-20 14:10] shwabnitz commented on #56
Thank you all for your work on that issue in the past 3 months. Unfortunately, I do not get multitenancy2 working, I assume due to a lack of an entry in npm repo: https://www.npmjs.com/package/generator-jhipster-multitenancy2 nor yarn repo.

What's the plan for the future? Is the merge of multitenancy2 into this project still on the roadmap or do you plan a native support of jhipster >= 6, will mu

[2019-08-20 14:45] mshima commented on #56
Have you tried:
[code]

There a copy of it:
https://github.com/sonalake/generator-jhipster-multitenancy/tree/develop
But is missing some commits for now.
Can be installed by:
`npm install generator-jhipster-multitenancy#develop `

[2019-08-20 15:05] shwabnitz commented on #56
Thank you for your answer.

I tried, got the following error:
Unable to find src/test/java/undefined/service/MailServiceIT.java or missing required jhipster-needle. LANGUAGE constant not updated with languages: en since block was not found. Check if you have enabled translation support.

     info Using blueprint generator-jhipster-multitenancy2 for entity-server subgenerator
     info Using bluep

[2019-08-20 16:12] mshima commented on #56
@shwabnitz, you are right, try the following:
[code]
The first run will not compile successfully because of jhipster bugs.

[2019-08-20 18:21] mshima commented on #56
Last commit should work with 6.2.0
[code]

The second jhipster generator with have some changes too.

[2019-08-20 20:09] shwabnitz commented on #56
My test application builds and executes with jhipster 6.2.0, very good and thank you. I did not create any entity yet for testing. Do I miss something here but I am not able to login with the default credentials?

[2019-08-20 21:55] shwabnitz commented on #56
Thank you very much. It compiles with 6.2.0, starts and I am able to login. I will perform some more tests the next days.

[2019-08-21 13:13] shwabnitz commented on #56
I created some more issues for https://github.com/mshima/generator-jhipster-multitenancy2. It seemed more appropriate to me to place them there.

[2019-08-21 22:22] shwabnitz commented on #56
@mshima Amazing stuff!
Thank you for the fast and excellent fixes of the issues in https://github.com/mshima/generator-jhipster-multitenancy2.

[2019-09-23 14:39] #53 closed

[2019-10-17 18:28] amatosg opened #94 "Error when generating project"
I unable to generate a project using JHipster 6.4.1

After answering all the questions, I get this error:

[code]

[2019-10-21 16:39] hepaestus opened #95 "Strange Behavior Creating a MultiTenancy Project ManyToMany Issue"
Trying to create a project using multi tenancy. See the Project Setup Information Below.
See the errors below when I try to run ./mvnw command.

Thanks,
P.
----

pete@Medussa:~/git/offerLetterJhipster/test16 (master) $ jhipster info
[code]

========================
pete@Medussa:~/git/offerLetterJhipster/test16 (master) $ ./mvnw

[code]

pete@Medussa:~/git/offerLetterJhipster/test16 (master) $ cat

[2019-10-21 16:46] jduggan83 commented on #95
Hi Peter, thanks for all the info. Just taking a very quick look at it, I can see that you have Company defined in your jdl and have specified company to be your tenant. The multitenancy blueprint automatically creates the tenant entity so you might have an issue here defining the entity in your jdl as well. I'll run the blueprint using your config to verify.

[2019-10-21 16:50] hepaestus commented on #95
Yes, I do have the tenant object inside the JDL Import file. What is the correct syntax for using the COMPANY as the tenant while creating the necessary relationships. IE the ManyToMany fro Company to EmailConfiguration?  Thanks!

[2019-10-22 12:25] hepaestus commented on #95
Any help with that syntax?

[2019-10-22 13:12] jduggan83 commented on #95
Hi, at the moment we don't support specifying relationships for the tenant on immediate creation of the app via a jdl, so there is no correct syntax for this. We will have a look into this. What I think you should do for now is create your app without the tenant in your jdl then use the entity generator to make each of your entities tenant aware and any other relationships you need.

[2019-10-22 14:22] hepaestus commented on #95
I will give that a try. Thanks.

[2019-10-22 15:50] hepaestus commented on #95
SO.... I updated my JDL to remove the Company Object and all relationships to company.  Then I ran
this script below:
[code]
My JDL Import file has not Company Entity or any Company Relationships.
I am getting the following error:

[code]
Thanks,
Pete.

[2019-10-22 16:35] hepaestus opened #97 "Blueprint does not create elastic Search annotation in entities properly"
When I create entities they do not follow the yo-rc.json file and respond to the "searchEngine":"elasticSearch" setting properly.

[2019-10-22 16:38] jduggan83 commented on #95
Thanks for the detail Peter. Running through these steps now and will give you a response soon

[2019-10-22 16:41] hepaestus commented on #95
Let me know if you need any more info! :)

[2019-10-22 17:45] BLKingLLC opened #98 "Not Equals check in pointcut doesn't work should be replaced with .equals"
In the onFindByID pointcut

[code]

should be changed to

[code]

The != always returns false, as in the optional.getCompany() never equals loggedInUser.getCompany() and throws a NoSuchElementException.  Replacing the != with !...equals() runs the proper equality check.

[2019-10-29 10:26] CharlotteFawsitt commented on #98
Thank you for the fix, we will look into this.

[2019-10-29 10:26] CharlotteFawsitt commented on #97
Hi, we will look into fixing this issue.

[2019-10-29 12:56] Kelvijn commented on #94
I have the same error. Even when downgrading Jhipster generator to 6.2.0, which is the latest version you claim to support.

[2019-10-29 19:34] BLKingLLC commented on #97
@CharlotteFawsitt You can close this issue, the error was on my end.  My .yo-rc.json was mis-configured.

[2019-10-29 20:40] CharlotteFawsitt commented on #97
Perfect! I had just started to look at this today. Thank you for letting me know.

[2019-10-29 20:40] #97 closed

[2019-10-30 18:54] BLKingLLC opened #101 "Tenant entity (Company) adds "UserService" in the @Before Execution Pointcut"
When an OAuth2 user logs in for the first time, their login information is stored in the JHI_USER table, using the syncUserWithIDP method in UserService.

The multitenancy blueprint adds UserService to the Tennant Entity (Company) Aspect class in the beforeExecution method.  With this setting, every time the UserService is called it runs userRepository.findOneByLogin, but because sycUserWithIDP ha

[2019-10-31 16:43] hepaestus opened #103 "Which version of Jhipster does the latest generator-jhipster-multitenancy (2.0.0) work with?"
I have conflicting build and I think its a version issue. Can you verifiy the version of JHipster that the 2.0.0 version of multitenancy blueprint works with?
Thanks!

[2019-10-31 17:41] hepaestus commented on #103
I am seeing in the Package.json file that generator-jhipster-multitenancy uses jhipster-generator version 6.2.0.  Is this the only version it is compatible with?

[2019-11-04 11:33] CharlotteFawsitt commented on #103
HI, at the moment we only support 6.2.0. We will be updating to support the latest JHipster version in the next update.

[2019-11-04 11:38] CharlotteFawsitt commented on #101
Thank you for bringing this up. We will look into this issue and if you have any other suggestions for this it would be appreciated.

[2019-11-04 15:48] jduggan83 commented on #94
Hi @Kelvijn Can you provide a bit more information on your issue. Are you using a jdl? or can you send on the yo-rc config, or the error you are seeing?

[2019-11-06 11:29] CharlotteFawsitt opened #104 "Write unit test for app generation from a JDL"
Unit tests needs to be written for generating an app using a JDL file

[2019-11-06 14:14] CharlotteFawsitt opened #106 "Remove name field from tenant to allow for JDL fields"
When using a JDL file it will override the tenant and the tenant fields. This will cause problems when showing the name field in the app.

[2019-11-11 11:10] CharlotteFawsitt opened #108 "Hide tenant from entity detail view, in REACT app"
When generating a React app the tenant should not be displayed in the detail view of an entity if the user has a tenant.

[2019-11-11 11:12] CharlotteFawsitt opened #109 "Hide tenant from entity list view, in REACT app"
When generating a React app the tenant should not be shown in the entity list view if the user has a tenant

[2019-11-11 11:22] CharlotteFawsitt opened #110 "Create a unit test for entity-tenant"
Ensure a test is created for the entity-tenant generator and that it is functioning correctly

[2019-11-11 11:24] CharlotteFawsitt opened #111 "Create a unit test for entity-server"
Ensure a unit test for the entity-server generator is created and test to see if everything works as it should.

[2019-11-11 11:34] CharlotteFawsitt opened #112 "Add support for multiple languages"
Currently we only supply the en translations for the tenant-management screen. We'll need to provide translation files for every other language. We can take a copy of the files from the jhipster generator, but ultimately we'll have to manually check the translations.

[2019-11-11 11:35] CharlotteFawsitt opened #113 "Investigate adding custom syntax into JDL"
Investigate if we can add custom syntax in a jdl that can be interpret by the multitenancy blueprint

[2019-11-11 11:37] CharlotteFawsitt opened #114 "Removing entity from tenantAware if removing a relationship or saying no on regeneration"
Description to be added

[2019-11-11 11:37] CharlotteFawsitt opened #115 "Investigate if tenant aware entity can have DTO"
If tenant aware entity has DTO then the tenant may also need to have DTO

[2019-11-11 11:44] CharlotteFawsitt opened #116 "Obscure webpack error on travis"
Investigate the below output that is being printed out when running tests
`node --max_old_space_size=4096 node_modules/webpack/bin/webpack.js "--config" "webpack/webpack.dev.js" "--env.stats=minimal"
338
339internal/modules/cjs/loader.js:638
340    throw err;
341    ^
342
343Error: Cannot find module '/tmp/d038a617c791a2f830f35dc30cd227bfc066c9cf/node_modules/webpack/bin/webpack.js'
344    at Func

[2019-11-11 11:54] CharlotteFawsitt opened #117 "Refactor mutils.requireTemplates()"
The method 'requireTemplates' in multitenancy-utils.js needs to be refactored. Currently this method is taking the JhipsterVersion and appending it to find particular template filenames. This needs to be looked at.

[2019-11-12 11:21] #106 closed

[2019-11-12 11:21] #40 closed

[2019-11-12 11:22] #95 closed

[2019-11-12 11:22] #98 closed

[2019-11-12 11:23] CharlotteFawsitt commented on #40
The latest release now includes support for React

[2019-11-12 11:34] jduggan83 commented on #45
@windbender Im going to close this issue. As you may have seen, we have been quite busy recently with converting this to a blueprint and adding REACT support. We dont have plans in the near future to create a PR to merge into the JHispter project, but you never know. thanks

[2019-11-12 11:34] #45 closed

[2019-11-12 11:35] CharlotteFawsitt commented on #95
The fix for this issue is now in the latest release

[2019-11-12 11:36] CharlotteFawsitt commented on #98
Thank you for that fix. It has been implemented in the latest release

[2019-11-12 11:38] #13 closed

[2019-11-23 23:50] yacosta738 opened #123 "Vuejs Multitenancy support"
Do you have plans to support multitenancy with vuejs ?. Currently the option to use vuejs is through a blueprint as well as the option to create the multitenant database. The problem is that if you use both blueprints at the same time the resulting application does not work correctly. Greetings good job.

[2019-11-25 10:56] jduggan83 commented on #123
Hi @yuniel-acosta Yes we do have plans to support vuejs. Our next priority is to provide support for the latest version of JHipster and then we will look into incorporating vuejs into the blueprint. Our approach will be to first fix any issues arising from running the 2 blueprints concurrently, and then write any custom vuejs code required. Any help on this would be much apprecitated.

[2019-12-04 16:39] CharlotteFawsitt opened #127 "Tenant names with underscores will cause problems when generating app"
When generating a new app and specifying a tenant name, if you use an underscore this will cause problems. Similarly if a space is used the app will not generate at all

[2019-12-09 10:16] CharlotteFawsitt opened #128 "When using a JDL the tenant name will be put into administration twice"
If using a JDL to change the tenant fields or when regenerating the tenant using the entity generator this will insert the tenant into the administration nav dropdown twice when using REACT and Angular.

[2019-12-09 10:20] CharlotteFawsitt opened #129 "New relationship does not show in table when viewing as a user"
When using this JDL to generate entities and add in fields to the tenant when assigning a user to a channel and logging in as that user, the user cannot see and the users that are assigned to the channel when viewing the table. Only when they go into the detail view can it be see. When editing the field the user can also be seen. When logged in as an admin and viewing the table the users assigned

[2019-12-29 09:49] vrijmetse opened #132 "Import existing jdl which contains application config"
I tried to generate application using jhipster import-jdl myfile.jdl --blueprints multitenancy but it does not generate an actual application eventhough it says exit code 0.

Is this expected or I miss out anything ?

[2020-01-03 15:23] #109 closed

[2020-01-03 15:24] #108 closed

[2020-01-03 15:27] jduggan83 commented on #132
Hi @vrijmetse,

You will have to do this in 2 steps:

- First generate the app using:
`jhipster --blueprints  multitenancy`

- Then run the import-jdl command

[2020-01-03 15:34] jduggan83 commented on #94
Closing issue as no more information provided

[2020-01-03 15:34] #94 closed

[2020-01-03 15:35] #103 closed

[2020-01-14 16:49] jduggan83 commented on #101
Hi @BLKingLLC

I have a had a look into this and unfortunately there is no obvious fix. We need to keep this piece ofcode to ensure users with a tenant can't see other tenants. Have you implemented any fix on your project that we could incirporate into the blueprint?

[2020-01-14 16:50] jduggan83 commented on #132
Closing this issue with solution on how to use above.

[2020-01-14 16:50] #132 closed

[2020-01-23 15:53] hepaestus opened #133 "Whats version of JHipster does the 2.1.2 blueprint release support?"
Does latest multitenancy blueprint (2.1.2) work with the latest version (6.6.0) of Jhipster.
Thanks.

[2020-01-23 17:05] hepaestus commented on #133
From my research it looks like jhipster 6.6.0 is NOT compatable with the blueprint 2.1.2
``
ERROR! Error: The installed generator-jhipster-multitenancy blueprint targets JHipster v6.3.1 and is not compatible with this JHipster version. Either update the blueprint or JHipster. You can also disable this check using --skip-checks at your own risk
ERROR! Error: Something went wrong while generating pr

[2020-01-23 17:05] hepaestus commented on #133
Will this blueprint be updated anytime soon? :)  Thanks.

[2020-01-24 16:29] jduggan83 commented on #133
Hi, we hope to have release out soon, providing support for the latest version.

[2020-02-14 21:08] hepaestus commented on #133
Any News on this update?

[2020-04-14 05:55] amatosg commented on #133
do you need help? maybe we can help a bit here.

[2020-04-14 17:19] jduggan83 commented on #133
Hi @amatosg Thanks any help on this would be really appreciated

[2020-04-15 05:40] amatosg commented on #133
I'm in! do you already have something in mind?

[2020-04-15 08:30] jduggan83 commented on #133
An upgrade to whatever the latest JHipster version is would be ideal

[2020-04-16 03:30] amatosg commented on #133
have you started working on this? do you have a roadmap?

[2020-04-16 07:07] jgdvarun60 opened #136 "Unable to add this as blue-prints for --skip-client and --skip-server"

[2020-04-16 07:08] jgdvarun60 opened #137 "after adding this blueprint I find that reset password, registration pages asking to login"

[2020-04-16 07:52] jgdvarun60 opened #138 "I am using filters with serviceImpl (DTO mapstruct) along with this blueprint, In method {Entity}QueryService.createSpecification(...) did not addd CompanyId specification"

[2020-04-18 15:21] jduggan83 commented on #138
Hi @jgdvarun60 Can I get some more information on this issues, I don't really understand. Can you give some more information on this?

Perhaps, you could send on your yo-rc.json and your jdl file, if you used one.

[2020-04-18 15:23] jduggan83 commented on #137
Hi, thanks for raising this. This is a known issue. It can be resolved in the target application. If you have a solution that can be templated, we will try and include it in a future release.

[2020-04-18 15:24] jduggan83 commented on #136
Hi, the server element is fundamental to this blueprint. Im surprised howver that the skip client option does not work for you

[2020-04-18 15:26] jduggan83 commented on #133
I have not start working on updating this to the latest version of JHipster. If you want to take the latest version out now and begin upgrading to that, I can help you with any issues you might across.

[2020-04-19 06:25] jgdvarun60 commented on #136
As its not supported with latest version of jhipster (I think 6.8)
I tried with lower version of jhipster v6.3.1, this error is reporduceble with any jdl, just giving test jdl for reference

[code]

**generate server code**
`jhipster import-jdl test.jh --skip-client `
...

**add blueprint**
`jhipster --with-entity --blueprints multitenancy --skip-client`
...
_I think first time it installs the blu

[2020-04-19 07:06] jgdvarun60 commented on #138
This was a corner condition, I was trying with client and server separate latest jhipster version for  redis cache works with latest, and in my case then, it did not add below lines
..
`
   if (criteria.getOrganizationId() != null) {
                specification = specification.and(buildSpecification(criteria.getOrganizationId(),
                    root -> root.join(Pa_.organization, JoinType.LE

[2020-04-19 07:06] #138 closed, assigned to nobody

[2020-04-19 12:39] jduggan83 commented on #138
Thanks for the detail @jgdvarun60

[2020-04-19 12:40] jduggan83 commented on #136
Thanks very much for this detail. I will investigate

[2020-05-04 21:08] walshe opened #139 "jdl"
does it play well with jdl import ?

[2020-05-21 15:51] jduggan83 commented on #139
Hi, sorry for the delay on this. We do provide support for jdl. Run the blueprint, then import the jdl.

[2020-05-21 15:51] #139 closed, assigned to nobody

[2020-06-29 16:10] shalphaaslam commented on #12
Hi,
I tried to comment on this project https://hibernate.atlassian.net/browse/HHH-6054
I think the comment is disabled. It would be great if someone help me in collaborating with the contributors!!

[2020-07-11 06:57] shalphaaslam commented on #12
I got working multi-tenant support in jhipster microservice without using hibernate filter. I had to create relevant database change with query changes for the discriminator which is tenant ID. It might be a workaround. however, will that help??

[2020-07-14 13:59] hepaestus commented on #133
Any Progress? I wish I knew how to help with this.  :)

[2020-07-17 16:40] jduggan83 commented on #133
Hi, no update on this. Would you have time to help with this? maybe start a branch and I can contribute as well

[2020-07-17 16:41] jduggan83 commented on #12
Hi, sure do you want to share some sample code for this?

[2020-07-18 04:00] shalphaaslam commented on #12
Hey, yes I can do. I have worked on Jhipster microservice to make it tenant-aware.

[2020-07-23 13:11] hepaestus commented on #133
I would like to contribute but I am not sure how. Any clues you could give would be great.

[2020-08-10 13:34] shalphaaslam commented on #12
Here's the Jhipster microservice in which discriminator based multi-tenancy is enabled in my own approach.
https://github.com/shalphaaslam/java
Please let me know your comments if any

[2020-12-01 16:05] FrancescoMez79 opened #141 "blueprint multitenant 2.1.2 don't works with MongoDB"
Hello,
we have tried this blueprint selecting MongoDB during creation of jHipster project.
It tells that this blueprint works only with Sql database.

When you think to release this version for Mongo DB?

Thanks,
Francesco

[2020-12-01 16:31] jduggan83 commented on #141
Hi,

Thanks very much for giving it a try. Unfortunately, we currently have no plans to add mongodb support for this.

Thanks,
Jonathan

[2021-12-02 08:02] sanjeevsree opened #147 "Upgrade jhipster version to latest"
Hi

Could you please upgrade the generator to support the latest jhipster version? Getting error while using it in the latest version of jhipster.

This plugin hasn't been updated for 2 yrs. Currently, it supports only  6.3.1

[2022-05-15 22:51] #123 closed